body {
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
div {
    width: 600px;
    margin: 5em auto;
    padding: 2em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}
@media (max-width: 700px) {
    div {
        margin: 0 auto;
        width: auto;
    }
}

canvas{
  background-color: #00FFFF
}

fillRect{
  background-color: #008000;
}


@keyframes moveBackground {
  from {background-position: 1000px 0px;}
  to {background-position: 0px 0px;}
  /* makes the image move from right to left */
}

#myCanvas {
  border-style: solid;
  align-self: center;
  background-image: url("kenau.JPG");
  background-position: 0px 0px;
  background-repeat: repeat-x;;
  animation: moveBackground 25s linear infinite;
  /* makes the image move in a direction forever in a straight path/line */
}
